
<script type="text/javascript" src="/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/assets/form-validation.js"></script> 
<%= render "add_success" %>
<div class="row-fluid">
     <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left"></div>
        </div>
        <div class="block-content collapse in">
          <div class="span12">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class: "form-horizontal"}) do |f| %>
                <%= devise_error_messages! %>
                <%= field_set_tag do %>
							<div class="alert alert-error hide">
								<button class="close" data-dismiss="alert"></button>
								You have some form errors. Please check below.
							</div>
							<div class="alert alert-success hide">
								<button class="close" data-dismiss="alert"></button>
								Your form validation is successful!
							</div>
                  <div class="control-group"><%#{{{%>
                    <%= f.label :name, "", class: "control-label" do %>
                      用户名
                      <span class="required">*</span>
                    <% end %>
                    <div class="controls">
                      <%= f.text_field :name, autocomplete: "off", class: "span6 m-wrap"%>
                    </div>
                  </div><%#}}}%>
                  <div class="control-group"><%#{{{%>
                    <label class="control-label">Email<span class="required">*</span></label>
                    <div class="controls">
                      <input name="user[email]" type="text" class="span6 m-wrap"/>
                    </div>
                  </div><%#}}}%>
                  <div class="control-group"><%#{{{%>
                    <%= f.label :password, "", class: "control-label" do %>
                      密码
                      <span class="required">*</span>
                    <% end %>
                    <div class="controls">
                      <%= f.password_field :password, autocomplete: "off", class: "span6 m-wrap" %>
                    </div>
                  </div><%#}}}%>
                  <div class="control-group"><%#{{{%>
                    <%= f.label :password_confirmation, "", class: "control-label" do %>
                      密码确认
                      <span class="required">*</span>
                    <% end %>
                    <div class="controls">
                      <%= f.password_field :password_confirmation, autocomplete: "off", class: "span6 m-wrap" %>
                    </div>
                  </div><%#}}}%>
                  <div class="form-actions" style="background-color: white">
                    <%= f.button "创建", class: "btn btn-primary" %>
                  </div>
                <% end %>
            <% end %>
          </div>
        </div>
    </div>
    <!-- /block -->
</div>
 <!-- /validation -->
<script>
$(function(){
  form = $("#new_user");
  FormValidation.init(form);

  $("ul.nav.nav-list li").removeClass("active");
  $("#user-submenu").addClass("in");
  $("#user_sign_up").addClass("active");
});
</script>
